<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    </head>
    <body>
        <div class="navbar">
            <img src="../images/logo.svg" alt="Yucroq" width="35" height="35"/>
            <a href="../index.html">Accueil</a>
            <a href="../croquette/show">Croquettes</a>
            <a href="../animal/show">Animal</a>
            <a href="../conseils.html">Conseils</a>
            <a href="../dosage.html">Dosage</a>
            <a href="../inscription.html">Connexion ou Inscription</a>
        </div>
        <ul>
            <li th:each="a : ${animaux}">
                
                <a th:href="@{./getAnimal(id=${a.id_animal})}" >[[${a.nom}]]</a>
            </li>
        </ul>
        <div>
        <!--/* On appelle l'URL 'add' du contôleur */-->
		<a th:href="@{add}" href='formulaireAnimal.html'>Ajouter un animal</a>
                </div>
        <a th:href="@{/}" href="../static/index.html">Retour au menu</a>
        <footer>
            <a>Mentions légales</a>
            <a>Contacts</a>
        </footer>
    </body>
</html>
