<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste des croquettes</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    </head>

    <header>
        <div id="voletgauche">
          <div id="compagnons"><a href="animal/show">
            <div><img class="icone" id="imagecompagnons" src="../static/images/Compagnons_gris.svg" th:src="@{/images/Compagnons_gris.svg}" alt="Icône compagnons"></div>
            <div class="textevg">Compagnons</div>
          </a></div>          
          <div id="alimentation"><a href="croquette/show">
            <div><img class="icone" id="imagealimentation" src="../static/images/Alimentation_violet.svg" th:src="@{/images/Alimentation_violet.svg}" alt="Icône alimentation"></div>
            <div class="selectionne textevg">Alimentation</div>
            <div class="rectangleselect"></div>
          </a></div>
        </div>

        <div id="voletcentral">
          <img id="logoyucroq" src="../static/images/Logo.svg" th:src="@{/images/Logo.svg}" alt="Logo Yucroq">
        </div>

        <div id="voletdroit">
          <div id="utilisateur">
            <div id="utilisateurco">Nom à récupérer</div>
            <div id="deconnexion"><a href="index.html">Déconnexion</a></div>
          </div>
          <div><img class="icone" id="imageutilisateur" src="../static/images/Utilisateur_violet.svg" th:src="@{/images/Utilisateur_violet.svg}" alt="Icône utilisateur"></div>
        </div>   
    </header>

    <body>
        <section>
        <table>
            <thead>
                <tr>
                    <th>nom</th>
                    <th>marque</th>
                    <th>espèce</th>
                    <th>humidité</th>
                    <th>protéines brutes</th>
                    <th>matières grasses</th>
                    <th>cellulose</th>
                    <th>matières minérales</th>
                    <th>calcium</th>
                    <th>phosphore</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c: ${croquettes}">
                    <td th:text="${c.nom}">Nom de la croquette</td>
                    <td th:text="${c.marque}">Marque de la croquette</td>
                    <td th:text="${c.espece}">Espèce visée</td>
                    <td th:text="${c.humidite}">Humidité</td>
                    <td th:text="${c.proteines_brutes}">Protéines brutes</td>
                    <td th:text="${c.matieres_grasses}">Matières grasses</td>
                    <td th:text="${c.cellulose}">Cellulose</td>
                    <td th:text="${c.matieres_minerales}">Matières minérales</td>
                    <td th:text="${c.calcium}">Calcium</td>
                    <td th:text="${c.phosphore}">Phosphore</td>
                </tr>
            </tbody>
        </table>
         <div>
        <!--/* On appelle l'URL 'add' du contôleur */-->
		<a th:href="@{add}" href='formulaireCroquette.html'>Ajouter une croquette</a>
                </div>
        <a th:href="@{/}" href="../static/index.html">Retour au menu</a>
        </section>
    </body>

    <footer>
        <a>Mentions légales</a>
        <a>Contacts</a>
    </footer>
</html>

