<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mes compagnons</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
    </head>

    <body>
        <header>
            <div id="voletgauche">
                <div id="compagnons">
                        <div><img class="icone" id="imagecompagnons" src="../static/images/Compagnons_violet.svg" th:src="@{/images/Compagnons_violet.svg}" alt="Icône compagnons"></div>
                        <div class="selectionne textevg">Compagnons</div>
                        <div class="rectangleselect"></div>
                    </div>          
                <div id="alimentation"><a th:if="${#lists.size(animaux)!=0}" th:href="@{../croquette/show(id=${animaux[0].id_animal})}">
                        <div><img class="icone" id="imagealimentation" src="../static/images/Alimentation_gris.svg" th:src="@{/images/Alimentation_gris.svg}" alt="Icône alimentation"></div>
                        <div class="textevg">Alimentation</div>
                    </a></div>
            </div>

            <div id="voletcentral">
                <img id="logoyucroq" src="../static/images/Logo.svg" th:src="@{/images/Logo.svg}" alt="Logo Yucroq">
            </div>

            <div id="voletdroit">
                <div id="utilisateur">
                    <div id="utilisateurco" th:text="${#authentication.name}">Anonyme</div>
                    <div id="deconnexion"><a th:action="@{/logout}" th:href= "@{/login}" href="../static/index.html">Déconnexion</a></div>
                </div>
                <div><img class="icone" id="imageutilisateur" src="../static/images/Utilisateur_violet.svg" th:src="@{/images/Utilisateur_violet.svg}" alt="Icône utilisateur"></div>
            </div>   
        </header>

        <section>
            <h1>Mes compagnons</h1>
            <div th:if="${#lists.size(animaux.?[espece.name() == 'CHIEN'])!=0}">
            <h3>Chiens</h3>
            <table class="suppr">
                <tr th:each="a : ${animaux}" th:if="${a.espece.name() == 'CHIEN'}">
                    <td><a th:href="@{getAnimal(id=${a.id_animal})}" th:text="${a.nom}">Nom de l'animal</a></td>
                    <td><a class="close" th:href = "@{delete(id = ${a.id_animal})}">×</a></td>
                </tr>     
            </table>
            </div>
            
            <div th:if="${#lists.size(animaux.?[espece.name() == 'CHAT'])!=0}">
            <h3>Chats</h3>
            <table class="suppr">
                <tr th:each="a : ${animaux}" th:if="${a.espece.name() == 'CHAT'}">
                    <td><a th:href="@{getAnimal(id=${a.id_animal})}" th:text="${a.nom}">Nom de l'animal</a></td>
                    <td><a class="close" th:href = "@{delete(id = ${a.id_animal})}">×</a></td>
                </tr>     
            </table>
            </div>
            
                <!--/* On appelle l'URL 'add' du contôleur */-->
                <div class="ajout">
                    <a th:href="@{add}" href='formulaireAnimal.html'>
                        <div class="plus">+</div>
                        <div class="texteajout">Ajouter un compagnon</div>
                    </a>
                </div>
        </section>
    </body>

    <footer>
        <a>Mentions légales</a>
        <a>Contacts</a>
    </footer> 
</html>
