<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste des croquettes</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
    </head>
    <body>
        <div sec:authorize="isAuthenticated()">

            <header>
                <div id="voletgauche">
                    <div id="compagnons"><a href="../animal/show">
                            <div><img class="icone" id="imagecompagnons" src="../static/images/Compagnons_gris.svg" th:src="@{/images/Compagnons_gris.svg}" alt="Icône compagnons"></div>
                            <div class="textevg">Compagnons</div>
                        </a></div>          
                    <div id="alimentation">
                        <div><img class="icone" id="imagealimentation" src="../static/images/Alimentation_violet.svg" th:src="@{/images/Alimentation_violet.svg}" alt="Icône alimentation"></div>
                        <div class="selectionne textevg">Alimentation</div>
                        <div class="rectangleselect"></div>
                    </div>
                </div>

                <div id="voletcentral">
                    <img id="logoyucroq" src="../static/images/Logo.svg" th:src="@{/images/Logo.svg}" alt="Logo Yucroq">
                </div>

                <div id="voletdroit">
                    <div id="utilisateur">
                        <div id="utilisateurco" th:text="${#authentication.name}">Anonyme</div>
                        <div id="deconnexion"><a th:action="@{/logout}" th:href= "@{/login}" href="../static/index.html">Déconnexion</a></div>
                    </div>
                    <div><img class="icone" id="imageutilisateur" src="../static/images/Utilisateur_violet.svg" th:src="@{/images/Utilisateur_violet.svg}" alt="Icône utilisateur"></div>
                </div>
            </header>

            <div id="sous-menu">
                <div id="recherche">
                    <div id="iconeloupe"><img id="loupe" src="../static/images/Loupe.svg" th:src="@{/images/Loupe.svg}"></div>
                    <input id="inputrecherche" type="text" placeholder="Nom de la référence à chercher"/>
                </div>

                <div id="choixcompagnon" th:switch="${#lists.isEmpty(listeanimaux)}">
                    <select th:case="true" id="animalchoisi" name="animalchoisi" onChange="window.location.href = this.value" disabled>
                        <option th:value=${animal.id_animal} th:text="${animal.nom}" selected="selected"></option>
                    </select>
                    <select th:case="false" id="animalchoisi" name="animalchoisi" onChange="window.location.href = this.value">
                        <option th:value=${animal.id_animal} th:text="${animal.nom}" selected="selected"></option>
                        <option th:each="a : ${listeanimaux}" th:value="@{../croquette/show(id=${a.idanimal})}" th:text="${a.nomanimal}" th:href="@{../croquette/show(id=${a.idanimal})}"></option>
                    </select>
                    <div id="boutonliste"><img id="Liste" src="../static/images/Liste.svg" th:src="@{/images/Liste.svg}"></div>
                </div>
            </div>

            <section id="resultatrecherche">
                <h1>Recherche de <span id="contenurech"></span></h1>
                <div id="listeresultatrecherche"></div>
                
                <!--/* On appelle l'URL 'add' du contôleur */-->
                <div class="ajout">
                    <a th:href="@{./add(id=${animal.id_animal})}" href='formulaireCroquette.html'>
                        <div class="plus">+</div>
                        <div class="texteajout">Ajouter un aliment</div>
                    </a>
                    <p class="explication">Si votre aliment n'est pas dans la base de données, vous pouvez l'ajouter manuellement en cliquant sur le bouton ci-dessus.</p>
                </div>
            </section>


            <section id="listecroq">
                <div th:switch="${#lists.isEmpty(animal)}">
                    <h1 th:case="true">Liste des croquettes</h1>
                    <h1 th:case="false">Liste des croquettes de [[${animal.nom}]]</h1>
                </div>
                <table class="suppr">
                    <tr th:each="c : ${croquette}">
                        <td><a th:href="@{getCroquette(idcroq=${c.idcroq}, idanimal=${animal.id_animal})}" th:text="${c.marquecroq + ' ' + c.nomcroq}">Référence</a></td>
                        <td><a class="close" th:href = "@{delete(id = ${c.idcroq}, id_anim=${animal.id_animal})}">×</a></td>
                    </tr>
                </table>

                <p th:if="${#lists.isEmpty(croquette)}">Aucune référence n'est enregistrée.</p>
            </section>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
        <script th:inline="javascript" type="text/javascript" />
        //Pour rechercher les croquettes

        let IDanimal = [[${animal.id_animal}]];
        document.getElementById("inputrecherche").addEventListener('input', afficheRecherche);
        function afficheRecherche() {
        if (document.getElementById("inputrecherche").value == "") {
            document.getElementById("listecroq").removeAttribute("style");
            document.getElementById("resultatrecherche").setAttribute("style","display:none");
        }
        else {
            document.getElementById("listecroq").setAttribute("style","display:none");
            document.getElementById("resultatrecherche").removeAttribute("style");
            document.getElementById("contenurech").textContent = document.getElementById("inputrecherche").value;
        }
        doAjax();
        }
        afficheRecherche();

        // Appel AJAX : recherche
        function doAjax() {
        let texterech = document.getElementById("inputrecherche").value;
        console.log("textrech");
        $.ajax({
            // On appelle le service qui renvoie le résultat comme un tableau de valeurs
            url: "/api/search/rechercheCroquettes",
            // On passe comme paramètre les données saisies dans le formulaire
            data: { "recherche" : texterech, "idanimal" : IDanimal },
            // On demande du JSON comme résultat
            dataType: "json",
            success: rech, // La fonction qui traite les résultats
            error: showError
            });
        } 

        //  Fonction recherche
        function rech(result) {
        let textetransmis = "<ul>";
            for (var i in result) {
                textetransmis += "<li><a href='getCroquette?idcroq=" + result[i].idcroq + "&idanimal=" + IDanimal + "'>" + result[i].marque + " " + result[i].nom + "</a></li>";
            }
                textetransmis += "</ul>";

        document.getElementById("listeresultatrecherche").innerHTML = textetransmis;
        }

        // Fonction qui traite les erreurs de la requête
        function showError(xhr, status, message) {
        alert("Erreur : " + status + " : " + message);
        }
        </script>
    </body>

    <footer>
        <a href="https://github.com/AlexGodfrin81/ISIS_3A_PTUT">Yucroq</a>
        <a href="mailto:joffrey.viemon-desplanque@etud.univ-jfc.fr,leandre.garriga@etud.univ-jfc.fr,alex.godfrin@etud.univ-jfc.fr,tina.nantenaina@etud.univ-jfc.fr,agathe.sutarik@etud.univ-jfc.fr?subject=Application%20Yucroq">| Contacts</a>
    </footer>

</html>

