<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inscription/Connexion</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
    </head>
    <body>
        <div class="navbar">
            <a>Yucroq + logo</a>
            <a href="../static/index.html">Accueil</a>
            <a href="animal.html">Animal</a>
            <a href="conseils.html">Conseils</a>
            <a href="dosage.html">Dosage</a>
            <a href="connexion.html">Connexion ou Inscription</a>
        </div>

        <!-- <h1>Inscrivez-vous sur Yucroq</h1>
       <form>
            <label for="mail1">Adresse mail :</label>
            <input id="mail1" type="email" required="required"/>
            <label for="nom">Nom :</label>
            <input id="nom" type="text" required="required"/>
            <label for="mdp1">Mot de Passe :</label>
            <input id="mdp1" type="password" required="required"/>
            <label for="confirm_mdp">Confirmation du mot de passe :</label>
            <input id="confirm_mdp" type="password" required="required"/>
            <button>Confirmer</button>
        </form>-->

        <h1>Déjà inscrit ? Connexion :</h1>
        <form method="POST" th:action="@{/login}" action="#" >
            <label for="mail2">Adresse mail :</label>
            <input id="mail2" type="email" required="required"/>
            <label for="mdp2">Mot de passe :</label>
            <input id="mdp2" type="password" required="required"/>
            <button>Confirmer</button>
            <a href="mdp_oublie.html">Mot de passe oublié</a>
            <div th:classappend="${#strings.isEmpty(error) ? 'has-error' : ''}">
                <span th:text="${message}">Message</span>
                <label for="pseudoConnexion">Nom d'utilisateur :</label>
                <input name="username" type="text" placeholder="Nom d'utilisateur" autofocus="autofocus"/>
                <input name="password" type="password" class="form-control" placeholder="Password"/>
                <span th:text="${error}">Message d'erreur</span>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <button type="submit">Connexion</button>
                <h4 class="text-center"><a th:href="@{/registration}" href="registration.html">Create an account</a></h4>
            </div>
        </form>
    </body>
</html>
