<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inscription/Connexion</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
    </head>
    <body>
        <h1>Connexion</h1>
        <form method="POST" th:action="@{/connexion}" action="#" >
            <div th:classappend="${#strings.isEmpty(error) ? 'has-error' : ''}">
                <span th:text="${message}">Message</span>
                <label for="pseudoConnexion">Nom d'utilisateur :</label>
                <input id="pseudoConnexion" type="text" placeholder="Nom d'utilisateur" autofocus="autofocus" autocomplete="username"/>
                <label for="mdpConnexion">Mot de passe :</label>
                <input id="mdpConnexion" type="password" placeholder="Mot de passe" autocomplete="current-password"/>
                <span th:text="${error}">Message d'erreur</span>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit">Connexion</button>
                <h4><a th:href="@{/inscription}" href="inscription.html">Créer un compte</a></h4>
                <a href="mdp_oublie.html">Mot de passe oublié</a>
            </div>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!--                    <tr><th><span th:text="${message}">Message</span></th></tr>
                    <tr><th><label for="pseudoConnexion">Nom d'utilisateur :</label></th></tr>
                    <tr><th><input id="pseudoConnexion" type="text" placeholder="Nom d'utilisateur" autofocus="autofocus"/></th></tr>
                    <tr><th><label for="mdpConnexion">Mot de passe :</label></th></tr>
                    <tr><th><input id="mdpConnexion" type="password" placeholder="Mot de passe"/></th></tr>
                    <tr><th><span th:text="${error}">Message d'erreur</span></th></tr>
                    <tr><th><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></th></tr>
                    <tr><th><button type="submit">Connexion</button></th></tr>-->
    </body>
</html>
