<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar">
            <img src="images/logo.svg" alt="Yucroq" width="35" height="35">
            <a href="index.html">Accueil</a>
            <a href="animal.html">Animal</a>
            <a href="conseils.html">Conseils</a>
            <a href="dosage.html">Dosage</a>
            <a href="inscription.html">Connexion ou Inscription</a>
        </div>
        
        <figure>
            
        </figure>
        
        <footer>
            <a>Mentions légales</a>
            <a>Contacts</a>
        </footer>
    </body>
</html>
