<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
    </head>

    <header>
        <div id="voletgauche">
          <div id="compagnons"><a href="../animal/show">
            <div><img class="icone" id="imagecompagnons" src="../static/images/Compagnons_violet.svg" th:src="@{/images/Compagnons_violet.svg}" alt="Icône compagnons"></div>
            <div class="selectionne textevg">Compagnons</div>
            <div class="rectangleselect"></div>
            </a></div>          
          <div id="alimentation"><a href="../croquette/show">
            <div><img class="icone" id="imagealimentation" src="../static/images/Alimentation_gris.svg" th:src="@{/images/Alimentation_gris.svg}" alt="Icône alimentation"></div>
            <div class="textevg">Alimentation</div>
          </a></div>
        </div>

        <div id="voletcentral">
          <img id="logoyucroq" src="../static/images/Logo.svg" th:src="@{/images/Logo.svg}" alt="Logo Yucroq">
        </div>

        <div id="voletdroit">
          <div id="utilisateur">
            <div id="utilisateurco">Nom à récupérer</div>
            <div id="deconnexion"><a th:href="@{/}" href="../static/index.html">Déconnexion</a></div>
          </div>
          <div><img class="icone" id="imageutilisateur" src="../static/images/Utilisateur_violet.svg" th:src="@{/images/Utilisateur_violet.svg}" alt="Icône utilisateur"></div>
        </div>   
    </header>

    <body>
        <section> 
        <table>
            <tr><th>Nom</th><th>Espèce</th><th>Sexe</th><th>Date de naissance</th><th>Taille (cm)</th><th>NEC</th></tr>
            <tr><td>[[${animal.nom}]]</td><td th:text="${#strings.toLowerCase(animal.espece)}"></td><td th:text="${animal.est_Male} ? 'Mâle' : 'Femelle'"></td><td th:text="${#temporals.format(animal.date_naiss, 'dd/MM/yyyy')}"></td><td>[[${animal.taille_cm}]]</td><td>[[${animal.nec}]]</td></tr>
        </table>
        <figure>
            
        </figure>
        <a th:href="@{/ration/add(id=${animal.id_animal})}" href='formulaireRation.html'>Ajouter une ration</a>
        <br/>
        <a th:href="@{/animal/show}" href="afficheAnimaux.html">Retour aux animaux</a>
        </section>
    </body>
    
    <footer>
        <a>Mentions légales</a>
        <a>Contacts</a>
    </footer>
</html>
