<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste des croquettes</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
    </head>

    <body>
        <header>
            <div id="voletgauche">
                <div id="compagnons"><a href="../animal/show">
                        <div><img class="icone" id="imagecompagnons" src="../static/images/Compagnons_gris.svg" th:src="@{/images/Compagnons_gris.svg}" alt="Icône compagnons"></div>
                        <div class="textevg">Compagnons</div>
                    </a></div>          
                <div id="alimentation"><a href="../croquette/show">
                        <div><img class="icone" id="imagealimentation" src="../static/images/Alimentation_violet.svg" th:src="@{/images/Alimentation_violet.svg}" alt="Icône alimentation"></div>
                        <div class="selectionne textevg">Alimentation</div>
                        <div class="rectangleselect"></div>
                    </a></div>
            </div>

            <div id="voletcentral">
                <img id="logoyucroq" src="../static/images/Logo.svg" th:src="@{/images/Logo.svg}" alt="Logo Yucroq">
            </div>

            <div id="voletdroit">
                <div id="utilisateur">
                    <div id="utilisateurco" th:text="${#authentication.name}">Anonyme</div>
                    <div id="deconnexion"><a th:action="@{/logout}" th:href= "@{/login}" href="../static/index.html">Déconnexion</a></div>
                </div>
                <div><img class="icone" id="imageutilisateur" src="../static/images/Utilisateur_violet.svg" th:src="@{/images/Utilisateur_violet.svg}" alt="Icône utilisateur"></div>
            </div>   
        </header>

        <section>
            <h1>Informations sur [[${croquette.marque + " " + croquette.nom}]]</h1>
            <table class="liste">
                <tr>
                    <td>Marque</td>
                    <td>[[${croquette.marque}]]</td>
                </tr>
                <tr>
                    <td>Nom</td>
                    <td>[[${croquette.nom}]]</td>
                </tr>
                <tr>
                    <td>Espèce cible</td>
                    <td th:text="${#strings.capitalize(#strings.toLowerCase(croquette.espece))}"></td>
                </tr>
            </table>

            <h2>Densité énergétique</h2>
            <table class="form">
                <tr class="emphase">
                    <td>Énergie</td>
                    <td>À calculer</td>
                </tr>
            </table>

            <h2>Composition</h2>
            <table class="form">
                <tr>
                    <td>Humidité</td>
                    <td>[[${croquette.humidite + " %"}]]</td>
                </tr>
                <tr>
                    <td>Protéines brutes</td>
                    <td>[[${croquette.proteines_brutes + " %"}]]</td>
                </tr>
                <tr>
                    <td>Matières grasses</td>
                    <td>[[${croquette.matieres_grasses + " %"}]]</td>
                </tr>
                <tr>
                    <td>Cellulose brute</td>
                    <td>[[${croquette.cellulose + " %"}]]</td>
                </tr>
                <tr>
                    <td>Minéraux</td>
                    <td>[[${croquette.matieres_minerales + " %"}]]</td>
                </tr>
                <tr>
                    <td>Calcium</td>
                    <td>[[${croquette.calcium + " %"}]]</td>
                </tr>
                <tr>
                    <td>Phosphore</td>
                    <td>[[${croquette.phosphore + " %"}]]</td>
                </tr> 
            </table>

            <h4><a href="../croquette/show">Retour à la liste</a></h4>
        </section>
    </body>

    <footer>
        <a>Mentions légales</a>
        <a>Contacts</a>
    </footer>
</html>

