<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste des croquettes</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
    </head>

    <body> 
        <header>
            <div id="voletgauche">
                <div id="compagnons"><a href="../animal/show">
                        <div><img class="icone" id="imagecompagnons" src="../static/images/Compagnons_gris.svg" th:src="@{/images/Compagnons_gris.svg}" alt="Icône compagnons"></div>
                        <div class="textevg">Compagnons</div>
                    </a></div>          
                <div id="alimentation"><a href="../croquette/show">
                        <div><img class="icone" id="imagealimentation" src="../static/images/Alimentation_violet.svg" th:src="@{/images/Alimentation_violet.svg}" alt="Icône alimentation"></div>
                        <div class="selectionne textevg">Alimentation</div>
                        <div class="rectangleselect"></div>
                    </a></div>
            </div>

            <div id="voletcentral">
                <img id="logoyucroq" src="../static/images/Logo.svg" th:src="@{/images/Logo.svg}" alt="Logo Yucroq">
            </div>

            <div id="voletdroit">
                <div id="utilisateur">
                    <div id="utilisateurco" th:text="${#authentication.name}">Anonyme</div>
                    <div id="deconnexion"><a th:action="@{/logout}" th:href= "@{/login}" href="../static/index.html">Déconnexion</a></div>
                </div>
                <div><img class="icone" id="imageutilisateur" src="../static/images/Utilisateur_violet.svg" th:src="@{/images/Utilisateur_violet.svg}" alt="Icône utilisateur"></div>
            </div>   
        </header>
        <section>
            <h1>Ajouter un aliment</h1>
            <!--/* on revient au contrôleur, avec la méthode POST */-->
            <!--/* th:object définit quel est l'objet édité par ce formulaire */-->
            <form th:object="${croquette}" method="POST" th:action="@{/croquette/save(id=${animal.get().id_animal})}">
                <table class="form">
                    <tr>
                        <td><label for="marque">Marque</label></td>
                        <td><input id="marque" type="text" th:field="*{marque}" placeholder="Marque"/></td>
                    </tr>
                    <tr>
                        <td><label for="nom">Nom</label></td>
                        <td><input id="nom" type="text" th:field="*{nom}" placeholder="Nom"/></td>
                    </tr>
                    <tr>
                        <td><label for="espece">Espèce cible</label></td>
                        <td><select id="espece" th:field="*{espece}">
                                <option th:value="${animal.get().espece}" th:text="${animal.get().espece}"></option>
                            </select></td>
                    </tr>
                    <tr>
                        <td><label for="humidite">Humidité</label></td>
                        <td><input id="humidite" type="number" step="0.1" th:field="*{humidite}"style="margin-left:-40px;"/><span class="unite">%</span></td>
                    </tr>
                    <tr>
                        <td><label for="proteines_brutes">Protéines brutes</label></td>
                        <td><input id="proteines_brutes" type="number" step="0.1" th:field="*{proteines_brutes}"style="margin-left:-40px;"/><span class="unite">%</span></td>
                    </tr>
                    <tr>
                        <td><label for="matieres_grasses">Matières grasses</label></td>
                        <td><input id="matieres_grasses" type="number" step="0.1" th:field="*{matieres_grasses}"style="margin-left:-40px;"/><span class="unite">%</span></td>
                    </tr>
                    <tr>
                        <td><label for="cellulose">Cellulose brute</label></td>
                        <td><input id="cellulose" type="number" step="0.1" th:field="*{cellulose}" style="margin-left:-40px;"/><span class="unite">%</span></td>
                    </tr>
                    <tr>
                        <td><label for="matieres_minerales">Matière minerale</label></td>
                        <td><input id="matieres_minerales" type="number" step="0.1" th:field="*{matieres_minerales}"style="margin-left:-40px;"/><span class="unite">%</span></td>
                    </tr>
                    <tr>
                        <td><label for="calcium">Calcium</label></td>
                        <td><input id="calcium" type="number" step="0.1" th:field="*{calcium}" style="margin-left:-40px;"/><span class="unite">%</span></td>
                    </tr>
                    <tr>
                        <td><label for="phosphore">Phosphore</label></td>
                        <td><input id="phosphore" type="number" step="0.1" th:field="*{phosphore}"style="margin-left:-40px;"/><span class="unite">%</span></td>
                    </tr>                                
                </table> 
                <input id="enregistrement" type="submit" value="Enregistrer" disabled/>
                <input type="reset" value="Réinitialiser" />
            </form>	
            <h4><a th:href="@{/}" href="../static/index.html">Retour au menu</a></h4>
        </section>
        <script th:src="@{/js/scriptCroquette.js}" src="../static/js/scriptCroquette.js"/></script>
    </body>

    <footer>
        <a>Mentions légales</a>
        <a>Contacts</a>
    </footer> 
</html>