<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ajouter un Animal</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
	</head>
	<body>
		<h1>Ajouter un Animal</h1>
		<!--/* Au revient au contrôleur, avec la méthode POST */-->
		<!--/* th:object définit quel est l'objet édité par ce formulaire */-->
		<form th:object="${animal}" method="POST" th:action="@{/animal/save}">
			<div class="column">
				<label for="nom">Nom :</label>
				<input type="text" th:field="*{nom}" placeholder="Nom de l'animal"/>
                                <br/>
                                <label for="espece">Espèce :</label>
				<select id="select_espece" th:field="*{espece}">
                                    <option th:value="CHIEN" th:text="Chien"></option>
                                    <option th:value="CHAT" th:text="Chat"></option>
                                </select>
                                <br/>
                                <label for="genre">Genre :</label>
                                <select th:field="*{est_Male}">
                                    <option th:value="true" th:text="Male"></option>
                                    <option th:value="false" th:text="Femelle"></option>
                                </select>
                                <br/>
                                <label for="date_naiss">Date de naissance :</label>
                                <input type="date" th:field="*{date_naiss}" th:value="*{date_naiss}"/>
                                <br/>
                                <label for="taille">Taille (en cm) :</label>
                                <input type="number" th:field="*{taille_cm}"/>
                                <br/>
                                <label for="nec">Note d'état corporel (NEC) :</label>
                                <input type="number" th:field="*{nec}" min="1" max="9"/>
                                <br/>
                                
                                <hr/>
				<input type="submit" value="Enregistrer" /> <input type="reset" value="Réinitialiser" />		
			</div>
                        <div class="column">
                                <!--<label for="croquette">Croquette :</label>
                                <select name="croquette">
                                    <option th:each="c : ${croquettes}" th:value="${c.id_croq}" th:text="${c.nom}" th:field="*{mesCroqs}"></option>
                                </select>-->
                                <br/>
                                <label for="race">Race :</label>
                                <select name="race">
                                    <option th:each="r : ${races}" th:value="${r.id_race}" th:text="${r.nom}" th:field="*{maRace}"></option>
                                </select>
                                <br/>
                                <label for="activite">Activité :</label>
                                <select name="activite">
                                    <option th:each="a : ${activites}" th:value="${a.id_activite}" th:text="${a.nom}" th:field="*{maRace}"></option>
                                </select>
                                <br/>
                                <label for="stadephysio">Stade Physiologique :</label>
                                <select name="stadephysio">
                                    <option th:each="s : ${stadephysios}" th:value="${s.id_stade}" th:text="${s.nom}" th:field="*{monStadePhysio}"></option>
                                </select>
                                <br/>
                                <label for="proprio">Propriétaire :</label>
                                <select name="proprio">
                                    <option th:each="p : ${proprietaires}" th:value="${p.id_proprio}" th:text="${p.prenom} +' '+ ${p.nom}" th:field="*{proprio}"></option>
                                </select>
                                <br/>
                        </div>
                       
		</form>		
		<hr/>
		<a th:href="@{/}" href="../static/index.html">Retour au menu</a>
		<hr/>
	</body>
</html>