<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ajouter un compagnon</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
    </head>

    <body>
        <header>
            <div id="voletgauche">
                <div id="compagnons"><a href="../animal/show">
                        <div><img class="icone" id="imagecompagnons" src="../static/images/Compagnons_violet.svg" th:src="@{/images/Compagnons_violet.svg}" alt="Icône compagnons"/></div>
                        <div class="selectionne textevg">Compagnons</div>
                        <div class="rectangleselect"></div>
                    </a></div>          
                <div id="alimentation"><a th:if="${#lists.size(animaux)!=0}" th:href="@{../croquette/show(id=${animaux[0].id_animal})}">
                        <div><img class="icone" id="imagealimentation" src="../static/images/Alimentation_gris.svg" th:src="@{/images/Alimentation_gris.svg}" alt="Icône alimentation"/></div>
                        <div class="textevg">Alimentation</div>
                    </a>
                </div>
            </div>

            <div id="voletcentral">
                <img id="logoyucroq" src="../static/images/Logo.svg" th:src="@{/images/Logo.svg}" alt="Logo Yucroq"/>
            </div>

            <div id="voletdroit">
                <div id="utilisateur">
                    <div id="utilisateurco" th:text="${#authentication.name}">Anonyme</div>
                    <div id="deconnexion"><a th:action="@{/logout}" th:href= "@{/login}" href="../static/index.html">Déconnexion</a></div>
                </div>
                <div><img class="icone" id="imageutilisateur" src="../static/images/Utilisateur_violet.svg" th:src="@{/images/Utilisateur_violet.svg}" alt="Icône utilisateur"></div>
            </div>   
        </header>
        <section>
            <h1>Ajouter un animal</h1>
            <p class="explication">Veuillez ajouter des informations de base sur votre animal. 
                La note d'état corporel est un indice, sur 9 traduisant l'embonpoint de votre animal.
                Une silhouette idéale correspond à une note de 4 ou 5.
            </p>
            <!--/* Au revient au contrôleur, avec la méthode POST */-->
            <!--/* th:object définit quel est l'objet édité par ce formulaire */-->
            <form th:object="${animal}" method="POST" th:action="@{/animal/save}">
                <table class="form">
                    <tr>
                        <td><label for="nom">Nom</label></td>
                        <td><input id="nom" type="text" th:field="*{nom}" placeholder="Nom de l'animal" required/></td>
                    </tr>
                    <tr>
                        <td><label for="espece">Espèce</label></td>
                        <td><select id="espece" onchange="adapt_race()" id="espece" th:field="*{espece}" required="required">
                                <option th:value="CHIEN" th:text="Chien"></option>
                                <option th:value="CHAT" th:text="Chat"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="genre">Genre</label></td>
                        <td><select id="genre" th:field="*{est_Male}" required="required">
                                <option th:value="true" th:text="Male" selected></option>
                                <option th:value="false" th:text="Femelle"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="date_naiss">Date de naissance</label></td>
                        <td><input id="date_naiss" type="date" th:field="*{date_naiss}" th:value="*{date_naiss}" placeholder="yyyy-MM-dd" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required="required"/></td>
                    </tr>
                    <tr>
                        <td><label for="taille">Taille</label></td>
                        <td><input id="taille" type="number" min="0" th:field="*{taille_cm}" placeholder="20" style="margin-left:-40px;" required="required"/><span class="unite" required="required">cm</span></td>
                    </tr>                        
                    <tr>
                        <td><label for="nec">Note d'état corporel</label></td>
                        <td>
                            <input id="nec" type="range" th:field="*{nec}" step="1" min="1" max="9" required="required"><span id="valeur_nec">Valeur NEC</span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="maRace">Race</label></td>
                        <td><select id="maRace" onchange="adapt_espece()" name="maRace" required="required">
                                <option th:each="r : ${races}" th:data-esp="${r.espece}" th:value="${r.id_race}" th:text="${r.nom}" th:field="*{maRace}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="monActivite">Activité</label></td>
                        <td><select id="monActivite" name="monActivite" required="required">
                                <option th:each="a : ${activites}" th:value="${a.id_activite}" th:text="${a.nom}" th:field="*{monActivite}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="monStadePhysio">Stade Physiologique</label></td>
                        <td><select id="monStadePhysio" name="monStadePhysio" required="required">
                                <option th:each="s : ${stadephysios}" th:value="${s.id_stade}" th:text="${s.nom}" th:field="*{monStadePhysio}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td><label for="proprio">Propriétaire</label></td>
                        <td> <select name="proprio">
                                <option th:value="${proprio.id_proprio}" th:text="${proprio.prenom} +' '+ ${proprio.nom}" th:field="*{proprio}"></option>
                            </select>
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Enregistrer" />
                <input type="reset" value="Réinitialiser" />
            </form>		
            <h4><a th:href="@{/}" href="../static/index.html">Retour au menu</a></h4>
        </section>
        <script th:src="@{/js/script.js}" src="../static/js/script.js"/></script>
        <script>
        </script>
    </body>



    <footer>
        <a href="https://github.com/AlexGodfrin81/ISIS_3A_PTUT">Yucroq</a>
        <a href="mailto:joffrey.viemon-desplanque@etud.univ-jfc.fr,leandre.garriga@etud.univ-jfc.fr,alex.godfrin@etud.univ-jfc.fr,tina.nantenaina@etud.univ-jfc.fr,agathe.sutarik@etud.univ-jfc.fr?subject=Application%20Yucroq">| Contacts</a>
    </footer> 
</html>
