<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ajouter une Croquette</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
	</head>
	<body>
		<h1>Ajouter une Croquette</h1>
		<!--/* on revient au contrôleur, avec la méthode POST */-->
		<!--/* th:object définit quel est l'objet édité par ce formulaire */-->
		<form th:object="${croquette}" method="POST" th:action="@{/croquette/save}">
			<div class="column">
				<label for="nom">Nom :</label>
				<input type="text" th:field="*{nom}" placeholder="Nom de la croquette"/>
                                <br/>
                                <label for="marque">Marque :</label>
				<input type="text" th:field="*{marque}" placeholder="Marque de la croquette"/>
                                <br/>
                                <label for="espece">Espèce :</label>
				<select th:field="*{espece}">
                                    <option th:value="CHIEN" th:text="Chien"></option>
                                    <option th:value="CHAT" th:text="Chat"></option>
                                </select>
                                <br/>       
                                <label for="humidite">Humidité :</label>
                                <input type="number" step="0.1" th:field="*{humidite}"/>
                                <br/>
                                <label for="proteines_brutes">Proteines brutes :</label>
                                <input type="number" step="0.1" th:field="*{proteines_brutes}"/>
                                <label for="matieres_grasses">Matières grasses :</label>
                                <input type="number" step="0.1" th:field="*{matieres_grasses}"/>
                                <br/>
                                <label for="cellulose">Cellulose :</label>
                                <input type="number" step="0.1" th:field="*{cellulose}"/>
                                <br/>
                                <label for="matieres_minerales">Matières minerales :</label>
                                <input type="number" step="0.1" th:field="*{matieres_minerales}"/>
                                <br/>
                                <label for="calcium">Calcium :</label>
                                <input type="number" step="0.1" th:field="*{calcium}"/>
                                <br/>
                                <label for="phosphore">Phosphore :</label>
                                <input type="number" step="0.1" th:field="*{phosphore}"/>
                          
                                <hr/>
				<input type="submit" value="Enregistrer" /> <input type="reset" value="Réinitialiser" />		
			</div>
                        
		</form>		
		<hr/>
		<a th:href="@{/}" href="../static/index.html">Retour au menu</a>
		<hr/>
	</body>
</html>