<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Connexion à Yucroq</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
    </head>

        <header>
        <div id="voletgauche">
          <div id="compagnons">
            <div><img class="icone" id="imagecompagnons" src="images/Compagnons_gris.svg" alt="Icône compagnons"></div>
            <div class="textevg">Compagnons</div>
          </div>          
          <div id="alimentation">
            <div><img class="icone" id="imagealimentation" src="images/Alimentation_gris.svg" alt="Icône alimentation"></div>
            <div class="textevg">Alimentation</div>
          </div>
        </div>

        <div id="voletcentral">
          <img id="logoyucroq" src="images/Logo.svg" alt="Logo Yucroq">
        </div>

        <div id="voletdroit">
          <div id="seconnecter">
                <a th:ref="@{/login}" href="./login" >Se connecter</a>
          </div>
          <div><img class="icone" id="imageutilisateur" src="images/Utilisateur_gris.svg" alt="Icône utilisateur"></div>
        </div>   

    </header>
    
    <body>
        <section>
            <h2>Connexion</h2>
            <form method="POST" th:action="@{/login}" action="#" >

                <span th:text="${message}">Message</span>
                <table class="form">
                    <tr>
                        <td><label for="pseudoConnexion">Nom d'utilisateur :</label></td>
                        <td><input name="username" id="pseudoConnexion" type="text" placeholder="Nom d'utilisateur" autofocus="autofocus" autocomplete="username"/></td>
                    </tr>
                    <tr>
                        <td> <label for="mdpConnexion">Mot de passe :</label></td>
                        <td><input id="mdpConnexion" name="password" type="password" placeholder="••••••" autocomplete="current-password"/></td>
                    </tr>

                </table>
                <span th:text="${error}">Message d'erreur</span>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit">Connexion</button>


            </form>

            <h4><a th:href="@{/registration}" href="registration.html">Créer un compte</a></h4>
            <h4><a th:href="@{/animal/show}" href="./afficheAnimaux.html">Accès caché</a><h4>

        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </body>
</html>
