<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Exemple de template</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
</head>

           <header>
        <div id="voletgauche">
          <div id="compagnons">
            <div><img class="icone" id="imagecompagnons" src="images/Compagnons_gris.svg" alt="Icône compagnons"></div>
            <div class="textevg">Compagnons</div>
          </div>          
          <div id="alimentation">
            <div><img class="icone" id="imagealimentation" src="images/Alimentation_gris.svg" alt="Icône alimentation"></div>
            <div class="textevg">Alimentation</div>
          </div>
        </div>

        <div id="voletcentral">
          <img id="logoyucroq" src="images/Logo.svg" alt="Logo Yucroq">
        </div>

        <div id="voletdroit">
          <div id="seconnecter">
            Se connecter
          </div>
          <div><img class="icone" id="imageutilisateur" src="images/Utilisateur_gris.svg" alt="Icône utilisateur"></div>
        </div>   

    </header>
    
<body>
    <section> 
	<h1>Exemple</h1>
	<h2 th:text="${message}">My Thymeleaf Error Page</h2>
    </section> 
</body>

</html>