<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Page utilisateur</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
    </head>

           <header>
        <div id="voletgauche">
          <div id="compagnons">
            <div><img class="icone" id="imagecompagnons" src="images/Compagnons_gris.svg" alt="Icône compagnons"></div>
            <div class="textevg">Compagnons</div>
          </div>          
          <div id="alimentation">
            <div><img class="icone" id="imagealimentation" src="images/Alimentation_gris.svg" alt="Icône alimentation"></div>
            <div class="textevg">Alimentation</div>
          </div>
        </div>

        <div id="voletcentral">
          <img id="logoyucroq" src="images/Logo.svg" alt="Logo Yucroq">
        </div>

        <div id="voletdroit">
          <div id="seconnecter">
            Se connecter
          </div>
          <div><img class="icone" id="imageutilisateur" src="images/Utilisateur_gris.svg" alt="Icône utilisateur"></div>
        </div>   

    </header>
    
    <body>

        <section>
            <h2>Inscription</h2>
            <form method="POST" th:object="${userForm}" th:action="@{/registration}">
                <table class="form">
                    <tr>
                        <!--                        <div th:classappend="${#fields.hasErrors('username') ? 'has-error' : ''}">-->
                        <td><label for="nom">Nom d'utilisateur :</label></td>
                        <td><input id="nom" type="text" th:field="*{username}" placeholder="Nom d'utilisateur" autofocus="autofocus" required="required" autocomplete="username"/></td>
                        <td><ul><li th:errors="*{username}">Erreur sur le pseudo</li></ul></td>
                        <!--                        </div>-->
                    </tr>
                                      <tr>
                        <td><label for="prenom">Prénom :</label></td>
                        <td><input id="prenom" type="text" th:field="*{prenom}" placeholder="Prénom" required="required"/></td>
                        <td><ul><li th:errors="*{prenom}">Erreur sur le prénom</li></ul></td>
                    </tr>
                    <tr>
                        <!--                        <div th:classappend="${#fields.hasErrors('email') ? 'has-error' : ''}">-->
                        <td><label for="mail1">Adresse mail :</label></td>
                        <td><input id="mail1" type="email" th:field="*{email}" placeholder="Adresse mail" required="required" autocomplete="email"/></td>
                        <td><ul><li th:errors="*{email}">Erreur sur le mail</li></ul></td>
                        <!--                        </div>-->
                    </tr>

                    <tr>
                        <!--                        <div th:classappend="${#fields.hasErrors('password') ? 'has-error' : ''}">-->
                        <td><label for="mdp1">Mot de passe :</label></td>
                        <td><input id="mdp1" type="password"  th:field="*{password}"  placeholder="••••••" required="required" autocomplete="new-password"/></td>
                        <td>  <ul><li th:errors="*{password}">Erreur sur le password</li></ul></td>
                        <!--                        </div>-->
                    </tr>
                    <tr>
                        <!--                        <div th:classappend="${#fields.hasErrors('passwordConfirm') ? 'has-error' : ''}">-->
                        <td><label for="confirm_mdp">Confirmation du mot de passe :</label></td>
                        <td>  <input id="confirm_mdp" type="password"  th:field="*{passwordConfirm}" placeholder="••••••" required="required" autocomplete="new-password"/></td>
                        <td> <ul><li th:errors="*{passwordConfirm}">Erreur dans la confirmation du mot de passe.</li></ul></td>
                        <!--                        </div>-->
                    </tr>
                </table>

                <button type="submit">Confirmer</button>
            </form>

        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    </body>
</html>
